<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theo.deltaTrade.mapper.ChatMapper">

    <resultMap id="BaseResultMap" type="com.theo.deltaTrade.entity.Chat">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="commodityId" column="commodity_id" jdbcType="BIGINT"/>
        <result property="fromId" column="from_id" jdbcType="BIGINT"/>
        <result property="toId" column="to_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
        <association property="commodity" column="commodity_id"
                     javaType="com.theo.deltaTrade.entity.Commodity" select="selectCommodityById"/>
        <association property="to" column="to_id" javaType="com.theo.deltaTrade.entity.User"
                     select="selectUserById"/>
        <association property="from" column="from_id" javaType="com.theo.deltaTrade.entity.User"
                     select="selectUserById"/>
    </resultMap>

    <resultMap id="CommodityMap" type="com.theo.deltaTrade.entity.Commodity">
        <result property="images" column="images" jdbcType="JAVA_OBJECT" javaType="java.util.List"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <association property="seller" column="seller_id" javaType="com.theo.deltaTrade.entity.User"
                     select="selectUserById">
        </association>
    </resultMap>

    <resultMap id="UserMap" type="com.theo.deltaTrade.entity.User"/>

    <select id="selectCommodityById" resultMap="CommodityMap">
        SELECT *
        FROM commodity
        WHERE id = #{id}
    </select>

    <select id="selectUserById" resultMap="UserMap">
        SELECT id, name, avatar
        FROM user
        WHERE id = #{id}
    </select>

    <select id="selectGroupByCommodityId" resultType="com.theo.deltaTrade.entity.Chat" resultMap="BaseResultMap">
        SELECT ANY_VALUE(to_id)       AS to_id,
               ANY_VALUE(from_id)     AS from_id,
               ANY_VALUE(content)     AS content,
               ANY_VALUE(create_time) AS create_time,
               commodity_id
        FROM (SELECT DISTINCT commodity_id, to_id, from_id, content, create_time
              FROM chat
              ORDER BY create_time DESC) a
        WHERE to_id = #{userId}
           OR from_id = #{userId}
        GROUP BY commodity_id
    </select>

    <sql id="Base_Column_List">
        id
        ,commodity_id,from_id,to_id,content,
        create_time,is_deleted
    </sql>
</mapper>
